/*
@font-face{
    font-family:'Imprimir';
    src: url('../fonts/HIGHSPEE.ttf') format('truetype');
}
@font-face{
    font-family:'Dot';
    src: url('../fonts/Dotmatrx.ttf') format('truetype');
}*/

p{margin: 0px; padding: 0px; font-size: 1em;}
h4{margin: 0;}
footer{ margin-top: -5px; text-align: center; font-size: .9em}
table{width: 100%;}
table td{font-size: 1em; padding: 0px; }
body {
    margin: 0px 50px 0 20px;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: .5px;
}

#logo{
    display: inline;
}

#datos{
    position: absolute; 
    display: inline-block; 
    margin: 0 0 15px 0; 
    font-size: 1.2em;
}

#titulo{
    position: absolute; 
    top:2; 
    right: 50px; 
    font-size: 2.7em; 
    text-align: center; 
    font-weight: 500; 
    font-family: 'Times New Roman';
}

#paciente{
    margin: 5px 0;
}

#topheader{
    height:70px; 
    border-bottom: 1px solid gray; 
    padding-bottom: -5px;
}

section{padding: 0px 5px 0px 5px; border: 1px solid gray; height: 200px;}
.panel{width: 49%; float: left;}

/*quimica*/

    .fila{width: 240px; text-align: center; font-size:1.1em; }
    .line{position: fixed; border-left: 1px solid gray; height: 200px; width: 1px; }
    .uno{left: 253px; }
    .dos{right: 128px; }